<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.dao.UserDao">
	<select id="getAll" resultType="User">
		select id, name, address, age, birthday, sex from user
	</select>
	<select id="getById" resultType="User">
		select id, name, address, age, birthday, sex from user where id = #{id}
	</select>
	<insert id="add">
		insert into user(name, address, age, birthday, sex)
		values(#{name}, #{address}, #{age}, #{birthday}, #{sex})
	</insert>
	<delete id="remove">
		delete from user where id = #{id}
	</delete>
	<update id="update">
		update user set name=#{name}, address=#{address}, age=#{age},
		birthday=#{birthday}, sex=#{sex}
		where id=#{id}
	</update>
</mapper>